[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
docker-compose = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
celery = "*"
redis = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.9"
